/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E1D2F70;
    background-alt: #28283970;
    foreground:     #D9E0EEFF;
    selected:       #7AA2F7FF;
    active:         #ABE9B310;
    urgent:         #F28FADFF;
}
